$color_main: #043376;

$font_sans: 'Montserrat', 'Open Sans', 'Arial', 'Helvetica', sans-serif;
$font_serif: 'Georgia', 'Times New Roman', 'Times CY', 'Century Schoolbook L', serif;
$Montserrat: 'Montserrat';

$content_margin: 15px;

